#!/bin/bash

## Use local override for .terraformrc file location - use project file instead of $HOME directory
# export TF_CLI_CONFIG_FILE=`pwd`/.terraformrc

export TF_VAR_host=`pass tftest/mssql-host`
export TF_VAR_user=`pass tftest/mssql-user`
export TF_VAR_password=`pass tftest/mssql-password`